@charset "UTF-8";
* {
    /*width 100% + padding #px makes weird looking pages*/
    box-sizing: border-box;
}

body {
    background-color: #1B3161;
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}


header {
    background-color: #27468a;
    color: white;
    height: 150px;
    width: 100%;
    margin: 0px;
    padding: 40px;
    float: none;
}

a {
    color: white;
}

article {
    background-color: #3d6fdb;
    color: white;
    height: 600px;
    width: 100%;
    margin: 0px;
    padding: 40px;
    float: none;
}

article img {
    position: absolute;
    height: 400px;
    width: 400px;
    transform: translateX(50%);
}

video {
    position: absolute;
    height: auto;
    width: 400px;
    transform: translate(50%);
}

h1, h2, h3, h4, p{
    margin: 0px;
}

footer {
    background-color: #27468a;
    color: white;
    height: 100px;
    width: 100%;
    margin: 0px;
    padding: 40px;
    float: none;
}
